@import url("https://fonts.googleapis.com/css2?family=Gill+Sans&display=swap");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffc53d;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden; /* yatay kaymayı engeller */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

/* Açık mod için tema */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

body {
  background-color: #ffc53d;
  text-align: center;
}

.container {
  padding: 40px 20px;
}

.zinter-logo {
  max-width: 100%;
  height: auto;
  display: block;
}

.title {
  font-size: 102px;
  font-weight: 750;
  background: linear-gradient(to top, #00b1f7, #005feb);
  font-style: italic;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.subtitle {
  font-size: 44px;
  font-weight: bold;
  color: #2b2b2b;
  margin-top: 10px;
  margin-bottom: 100px;
  line-height: 1;
}

.qr-code {
  margin-top: 30px;
  width: 100%;
  max-width: 300px; /* masaüstünde de mantıklı sınır */
  height: auto;
}

h1 {
  margin: 0;
  padding: 0;
}

/* Mobil uyumluluk için */
@media (max-width: 600px) {
  .title {
    font-size: 65px; /* başlık küçülür */
  }

  .subtitle {
    font-size: 26px; /* alt başlık küçülür */
    margin-bottom: 40px;
  }

  .qr-code {
    max-width: 60vw; /* ekranın %90’ı kadar genişlik */
    width: 100%;
  }
}
